@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
/* @import "flowbite/src/themes/default"; */
@plugin "node_modules/flowbite/plugin";
@source "node_modules/flowbite";
@tailwind base;
@tailwind components;
@tailwind utilities;